/* General Styles */
body {
    background: rgb(111, 208, 224);
    background: linear-gradient(0deg,rgb(111, 208, 224) 0%, rgb(171, 228, 167) 100%);
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    min-height: 100vh;
}

h1 {
    margin: 0;
    font-family: 'Frijole', cursive;
    font-size: 3em;
    font-weight: 400;
}

h2,
h3 {
    font-family: 'Oswald', sans-serif;
}

@media (min-width: 650px) {
    h1 {
        font-size: 5em;
    }
}

@media (min-width: 920px) {
    h1 {
        font-size: 8em;
    }
}

/* Grid Styles */
#flip-card {
    position: relative;
    background: #fff url(images/tracks.png) no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin:auto;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    perspective: 1000px;
    height: 800px;
    width: 90%;
}

.flip-card-inner {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    height: 100%;
    align-items: center;
    justify-content: center;
    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);  
}

#flip-card .flip-card-inner:hover {
    transform: rotateY(180deg);
  }

.flip-card-front, .flip-card-back {
position: absolute;
height: 100%;
backface-visibility: hidden;
}

  /* Style the back side */
.flip-card-back {
    color: white;
    transform: rotateY(180deg);
  }
  
.flip-card-inner:nth-child(1) {
    background: #009687f5;
}

.flip-card-inner:nth-child(2) {
    background: #dc7657f5;
}

.flip-card-inner:nth-child(3) {
    background: #4bb3c1fa;
}

.flip-card-inner:nth-child(4) {
    background: #fac069f9;
}

.flip-card-inner:nth-child(5) {
    background: #67a866f9;
}
.flip-card-inner:nth-child(6){
    background: #b94169fa;
}

.flip-card-inner:nth-child(7) {
    background: #7f62b3fa;
}

.flip-card-inner:nth-child(8){
    background: #9fc376f9;
}

.flip-card-inner:nth-child(9){
    background: #677bcbfa;
}


.flip-card-front h3 {
    display: flex;
    justify-content: center;
    flex:2;
    color: #eee;
}

.flip-card-front img {
    /* display: flex; */
    width: 40%;
    align-items: center;
    /* position: relative; */
    justify-content: center;
    /* flex:1; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* padding-bottom: 1em; */
}

.flip-card-front p {
    background: rgba(000,000,000, .3);
    position: absolute;
    /* bottom: 0; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* width: 100%;
    height: 20%; */
    /* padding: 0.8em 0.8em 1.8em; */
    /* margin:0; */
    box-sizing: border-box;
    font-size: 1.2em;
    /* font-weight: 600; */
    color: #fff;
}

.flip-card-back p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(000,000,000, .3);
    box-sizing: border-box;
    font-size: 1.2em;
    color: #fff;
}

/* Form Styles */
.form-container {
    background: #eee;
    padding: 1.3em;
    text-align: left;
    max-width: 400px;
    margin: 0 auto;
}

form p {
    margin-bottom: 0.3em;
    font-size: 1.3em;
    font-weight: 600;
    font-family: 'Oswald', sans-serif;
}

input {
    padding: 0.7em;
    background: #fff;
    border: 0;
}

.form-field__short {
    width: 25%;
    margin-right: 3%;
    box-sizing: border-box;
}

.form-field__full {
    width: 100%;
    box-sizing: border-box;
}

select {
    display: block;
}

#btn {
    display: inline-block;
    background: #ccc;
    padding: 0.8em;
    margin: 1.2em auto;
    transition: ease 0.3s all;
}

#btn:hover {
    background: #777;
    color: #fff;
    cursor: pointer;
}

/* Footer */
.fine-print {
    display: block;
    font-size: 0.7em;
}